version: "3.8"
services:
  database:
    image : mongo
    container_name: mongodb34
    volumes:
        - mongodata:/database/db
    ports:
        - 27017:27017
    restart: unless-stopped
  backend:
    build: ./
    ports:
      - 5000:80
    env_file: 
      - ./backend.env

volumes: 
  mongodata:
